.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 125px;
    text-align: center;
    background-color: lightblue;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -60px;
}

@media (min-width:600px){
    .navbar-left {
        padding-left: 0%;
    }

    .navbar-right {
        padding-right: 0%;
    }
}

@media (min-width:770px){
    .navbar-left {
        padding-left: 15%;
    }

    .navbar-right {
        padding-right: 17%;
    }
}

@media (min-width:990px){
    .navbar-left {
        padding-left: 22%;
    }

    .navbar-right {
        padding-right: 24%;
    }
}

@media (min-width:1200px){
    .navbar-left {
        padding-left: 28%;
    }

    .navbar-right {
        padding-right: 29%;
    }
}

h2 {
	text-align: center;
}

img {
	width: 100%;
	height: 100%;
	max-height: 500px;
	object-fit: cover;
	overflow: hidden;
	display: block;
	margin: auto;
}

.center {
    text-align: center;
}

.buffer {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 2;
}

.explanations {
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

#formula-note{
    font-size: .5em;
}

.current-btn {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.song-btn {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;    
}

.song-audio {
    float: none;
    display: block;
    margin: 0 auto;
    text-align: center;    
}

.game_background {
    background-image: url(dj.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#picked1:hover {
    background-color: #87CEFA;
}

#picked2:hover {
    background-color: #87CEFA;
}

#picked3:hover {
    background-color: #87CEFA;
}

#picked4:hover {
    background-color: #87CEFA;
}

.page_split {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.page_split_1 {
    width: 50%;
    float: left;
}

.page_split_2 {
    float: right;
    width: 50%;
}

.page_split_3 {
    clear:both;
}

.score{
    background-color: lightgrey;
    text-decoration-color: white;
    text-align: left;
}

.indent{
    padding-left: 47%;
    padding-right: 47%;
}

#score:hover{
    background-color: #87CEFA;
}